<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <script src="Scripts/Lib/angular.js"></script>
    <script src="Scripts/Lib/angular-ui-router.js"></script>
    <script src="Scripts/Lib/angular-resource.js"></script>

    <script src="Scripts/app.js"></script>
    <script src="Scripts/app.route.js"></script>
    <script src="Scripts/app.service.js"></script>
    <!--directive-->
    <script src="Scripts/loader.directive.js"></script>

    <script src="Scripts/AddSongController.js"></script>
    <script src="Scripts/ViewSongController.js"></script>
    <script src="Scripts/EditSongController.js"></script>
    <script src="Scripts/AddGenreController.js"></script>
    <script src="Scripts/EditGenreController.js"></script>



    <!--CSS-->
    <link href="CSS/ViewSong.css" rel="stylesheet" />
</head>
<body ng-app="songApp">

    <div ng-controller="homeController as home">
        <div>
            <div ng-click="home.changeState('AddSong')">
                Add Song
            </div>
            <div ng-click="home.changeState('ViewSong')">
                
                View Song
            </div>
            <div ng-click="home.changeState('EditSong')">
                Edit Song
            </div>
            <div ng-click="home.changeState('AddGenre')">
                Add Genre
            </div>
            <div ng-click="home.changeState('EditGenre')">
                Edit More ... Genre
            </div>
        </div>
        <div ui-view></div>
    </div>
</body>
</html>
